ipython=7.18.1=py38h1cdfbd6_1
ipython_genutils=0.2.0=py_1
ipywidgets=7.5.1=pyh9f0ad1d_1
ipykernel=5.3.4=py38h1cdfbd6_1
jupyter-book=0.8.3=pypi_0
jupyter-cache=0.4.1=py_0
jupyter-sphinx=0.3.2=py_0
jupyter_client=6.1.7=py_0
jupyter_core=4.6.3=py38h32f6830_2
jupyterlab=2.2.9=py_0
jupyterlab-git=0.23.3=pyhd8ed1ab_0
jupyterlab_server=1.2.0=py_0
jupytext=1.6.0=pyh9f0ad1d_0
markupsafe=1.1.1=py38h8df0ef7_2
myst-nb=0.10.1=py_0
myst-parser=0.12.10=py_0
nbclient=0.5.1=py_0
nbconvert=5.6.1=py38h32f6830_1
nbdime=2.1.0=py_0
nbformat=5.0.8=py_0
nbmerge=0.0.4=pypi_0
nbsphinx=0.7.1=pyh9f0ad1d_0
notebook=6.1.4=py38h32f6830_1
pandoc=2.11.0.2=hd18ef5c_0
pandocfilters=1.4.2=py_1
sphinx=3.2.1=py_0
sphinx-book-theme=0.0.38=pypi_0
sphinx-comments=0.0.3=pypi_0
sphinx-copybutton=0.3.0=pypi_0
sphinx-panels=0.5.2=pypi_0
sphinx-thebe=0.0.7=pypi_0
sphinx-togglebutton=0.2.2=pyh9f0ad1d_0
sphinxcontrib-applehelp=1.0.2=py_0
sphinxcontrib-bibtex=2.0.1a0=pypi_0
sphinxcontrib-devhelp=1.0.2=py_0
sphinxcontrib-htmlhelp=1.0.3=py_0
sphinxcontrib-jsmath=1.0.1=py_0
sphinxcontrib-qthelp=1.0.3=py_0
sphinxcontrib-serializinghtml=1.1.4=py_0
git+https://github.com/executablebooks/MyST-NB.git@master